{% extends 'base_login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="mt-5 text-center">
                    <h1>My-surprise.com</h1>
                    <small class="title">Noel 2021 - Thorigné d'Avon</small>
                </div>
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <form class="form-signin">
                            <div class="form-label-group">
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                                <label for="inputUsername">Nom d'utilisateur</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" name="password" id="inputPassword" class="form-control" required>
                                <label for="inputPassword">Mot de Passe</label>
                            </div>
                            {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Se connecter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
