{% extends 'base.html.twig' %}

{% block title %}Geizig - {{ page }}{% endblock %}

{% block body %}
    <h1>{{ page }}</h1>
    <h2>{{ app.user.firstname }} {{ app.user.lastname }} - {{ app.user.id }}</h2>
{% endblock %}
