{% extends 'base.html.twig' %}

{% block title %}Geizig - {{ page }}{% endblock %}

{% block body %}
    <div>
        <h1>Hello {{ user.firstname }} {{ user.lastname }} - {{ user.id }}</h1>
        <div>
            {% if user.isAllowedToSelectUser %}
                {% if user.selectedUser is null %}
                    Sie können nun die Person auswählen, die Ihr Geschenk erhalten soll
                {% else %}
                    {{ user.selectedUser.firstname }} wird Ihr Geschenk erhalten
                {% endif %}
            {% else %}
                <p>Published List : {{ publishedLists }} / {{ totalLists }}</p>
                {% if user.giftsList is null %}
                    <p>Ihre Liste wurde noch nicht veröffentlicht. Klicken Sie hier, um es zu veröffentlichen</p>
                {% else %}
                    Du hast deine List erfolreich publiziert aber andere Benutzer haben ihre Liste noch nicht veröffentlicht
                {% endif %}
            {% endif %}
        </div>
    </div>
    <a href="{{ url('app_logout') }}">Logout</a>
{% endblock %}
