{% extends 'base.html.twig' %}

{% block title %}Geizig - {{ page }}{% endblock %}

{% block body %}
    <div>
        <h1>Hello {{ app.user.firstname }} {{ app.user.lastname }} - {{ app.user.id }}</h1>
        <div>
           {% if app.user.isAllowedToSelectUser and not hasAlreadySelectedUser %}
               You are allowed to select User
           {% elseif not app.user.isAllowedToSelectUser and not hasAlreadySelectedUser%}
                You have to create your list first
           {% elseif hasAlreadySelectedUser%}
                {% set userSelected = app.user.selectedUser %}
                <p>You have selected {{ userSelected.firstname }} {{ userSelected.lastname }}</p>
               <a href="{{ url('app_user_list') }}">Liste von {{ userSelected.firstname }}</a>
           {% endif %}
        </div>
    </div>
{% endblock %}
