{% extends 'base.html.twig' %}


{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h3 class="title-secondary"><i class="far fa-envelope"></i> Messages</h3>
    </div>
    <div class="col-sm-12 mt-5">
        <div class="accordion" id="accordeonMessage">
            {% if selectedUser != null %}
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fas fa-pencil-alt"></i> {{ selectedUser.firstname}}
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordeonMessage">
                        <div class="card-body">
                            {% if tchatHostMessagesTotal > 0 %}
                                {% for message in tchatHostMessages %}
                                    <div class="message message-{% if message.type == "host" %}left{% else %}right{% endif %}">
                                        <h6><b>{% if message.type == "guest" %}{{ selectedUser.firstname }}{% else %}Toi{% endif %}</b>, le {{ message.date|date("d.m.Y") }}</h6>
                                        {{ message.content }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary open-modal-send-message" data-message="host" data-toggle="modal" data-target="#modalMessage" data-type="host">
                                Ecrire un message
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-pencil-alt"></i> Anonyme
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordeonMessage">
                    <div class="card-body">
                        {% if tchatGuestMessagesTotal != 0 %}
                            {% for message in tchatGestMessages %}
                                <div class="message message-{% if message.type == "guest" %}left{% else %}right{% endif %}">
                                    <h6>{% if message.type == "host" %}De: Anonyme{% else %}Du{% endif %}, den {{ message.date|date("d.m.Y") }}</h6>
                                    {{ message.content }}
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-primary open-modal-send-message" data-message="guest" data-toggle="modal" data-target="#modalMessage" data-type="guest">
                                Ecrire un message
                            </button>
                        {% else %}
                            Ton partenaire ne t'as adressé aucun message
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "partials/messages/modal_send_message.html.twig" %}
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
