{% extends 'base.html.twig' %}

{% block title %}Geizig - {{ page }}{% endblock %}

{% block body %}
    <div>
        <h1>Hello {{ app.user.firstname }} {{ app.user.lastname }} - {{ app.user.id }} - {{ page }}</h1>
    </div>
{% endblock %}
