{% extends 'base.html.twig' %}

{% block title %}Geizig - {{ page }}{% endblock %}

{% block body %}
    <div>
        <h1>Hello {{ user.firstname }} {{ user.lastname }} - {{ user.id }} - {{ page }}</h1>
    </div>
{% endblock %}
