{% extends 'base.html.twig' %}

{% block title %}Geizig - {{ page }}{% endblock %}

{% block body %}
    <div class="row">
        <h3 class="title-secondary"><i class="far fa-smile"></i> Liste von {{ selectedUser.firstname }}</h3>
        {% if list is empty %}
            <p>Die Liste von {{ selectedUser.firstname }} ist im Moment Leer !!!</p>
        {% else %}
            <table class="table mt-5">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="col-width-25">Title</th>
                        <th scope="col" class="col-width-50">Description</th>
                        <th scope="col" class="col-width-25">Link</th>
                    </tr>
                    </thead>
                <tbody>
                    {% for gift in list %}
                        <tr>
                            <td>{{ gift.title }}</td>
                            <td >{% if  gift.description is not empty %}{{ gift.description }}{% else %}-{% endif%}</td>
                            <td>{% if  gift.link is not empty %}{{ gift.link }}{% else %}-{% endif%}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
