<div class="col-md-8 p-md-3">
    <h5>Im Moment enthält deine Liste {{ totalGifts }} {% if totalGifts > 1 %}Wünsche{% else %}Wunsch{% endif %}</h5>
    {% if totalGifts > 0 %}
        <ul class="list-group list-group-flush">
        {% for gift in list %}
                <li class="list-group-item"><i class="fa fa-gift mr-2" aria-hidden="true"></i> {{ gift.title }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ url('app_manage_liste') }}" role="button" class="btn  btn-primary mt-3">
        <i class="fa fa-cog mr-2" aria-hidden="true"></i> Meine Liste bearbeiten
    </a>
</div>
<div class="col-md-4">
    {% if not userSelected %}
        <div class="card text-center mb-4 shadow-sm">
            <img src="/build/images/anonymous.png" class="card-img-top rounded-circle" alt="select-{{ app.user.firstname }}">
            <div class="card-body">
                <a href="{{ url('app_select_someone') }}" class="btn btn-primary"><i class="fas fa-dice mr-2"></i> Deinen Partner ziehen</a>
            </div>
        </div>
    {% else %}
        <div class="card text-center mb-4 shadow-sm">
            <img src="{{ userSelected.image }}" class="card-img-top rounded-circle"  alt="profil-{{ userSelected.firstname }}">
            <div class="card-body">
                <h5 class="card-title">{{ userSelected.firstname }}</h5>
                {% if userSelected.giftsList.gifts|length == 0 %}
                    <p class="card-text">{{ userSelected.firstname }} hat zur Zeit keine Wünsche eingetragen</p>
                    <a href="#" class="btn btn-primary disabled">Liste von {{ userSelected.firstname }}</a>
                {% else %}
                    <p class="card-text">{{ userSelected.firstname }} wird ein Geschenk von dir erhalten.</p>
                    <a href="{{ url('app_user_list') }}" class="btn btn-primary">Liste von {{ userSelected.firstname }} </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>


