<div class="col-md-8 text-center p-md-3">
    <h3>Im Moment enthält deine Liste {{ totalGifts }} {% if totalGifts > 1 %}Wünsche{% else %}Wunsch{% endif %}</h3>
    {% if totalGifts > 0 %}
        <ul class="list-group list-group-flush">
        {% for gift in list %}
                <li class="list-group-item"><i class="fa fa-gift mr-2" aria-hidden="true"></i> {{ gift.title }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ url('app_manage_liste') }}" role="button" class="btn btn-lg btn-primary btn-block mt-3">Meine Liste bearbeiten</a>
</div>
<div class="col-md-4">
    {% if not userSelected %}
        <div class="card text-center mb-4 shadow-sm">
            <img src="/build/images/select-primary.png" class="card-img-top rounded-circle" alt="select-{{ app.user.firstname }}">
            <div class="card-body">
                <a href="{{ url('app_select_someone') }}" class="btn btn-primary">Deinen Partner ziehen</a>
            </div>
        </div>
    {% else %}
        <div class="card text-center mb-4 shadow-sm">
            <img src="{{ userSelected.image }}" class="card-img-top rounded-circle"  alt="profil-{{ userSelected.firstname }}">
            <div class="card-body">
                <h5 class="card-title">{{ userSelected.firstname }}</h5>
                <p class="card-text">{{ userSelected.firstname }} wird ein Geschenk von dir erhalten.</p>
                <a href="{{ url('app_user_list') }}" class="btn btn-primary">Liste von {{ userSelected.firstname }} </a>
            </div>
        </div>
    {% endif %}
</div>


