{% extends 'base.html.twig' %}

{% block title %}Hello TchatController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h3 class="title-secondary"><i class="far fa-envelope"></i> Nachrichten</h3>
    </div>
    <div class="col-sm-12 mt-5">
        <div class="accordion" id="accordeonMessage">
            {% if selectedUser != null %}
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fas fa-pencil-alt"></i> {{ selectedUser.firstname}}
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordeonMessage">
                        <div class="card-body">
                            {% if tchatHostMessagesTotal > 0 %}
                                {% for message in tchatHostMessages %}
                                    <div class="message message-{% if message.type == "host" %}left{% else %}right{% endif %}">
                                        <h6><b>{% if message.type == "guest" %}{{ selectedUser.firstname }}{% else %}Du{% endif %}</b>{#, am {{ message.date }}#}</h6>
                                        {{ message.content }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMessage" data-type="host">
                                Eine Nachricht schreiben
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-pencil-alt"></i> Anonymous
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordeonMessage">
                    <div class="card-body">
                        <div class="message message-right">
                            <h6><b>Anonymous</b>, am 10.11.2020</h6>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </div>
                        <div class="message message-link">
                            <h6><b>Du</b>, am 10.11.2020</h6>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMessage" data-type="guest">
                            Eine Nachricht schreiben
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include "partials/messages/modal_send_message.html.twig" %}
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
